.cartoes { /*container*/
    display: flex;
    justify-content: center;
    width: 100%;
}

.cartao { /*flip-card*/
    height: 360px;
    width: 300px;
    text-align: center;
    margin: 1vw;
}

.cartaoInterno {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cartao:hover .cartaoInterno { 
    transform: rotateY(-180deg);
}

.cartao .lado-atras { 
    transform: rotateY(-180deg);
}

.lado-frente, .lado-atras {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
    background-color: antiquewhite;
    height: 250px;
    width: 250px;
}

.cartao h2 {
    font-size: 18px;
}

.cartao p {
    font-size: 14px;
    color: black;
}
