section#beneficios div.cartoes {
    display: flex;
}

section#beneficios div.cartoes div.cartao {
    height: 400px;
    width: 600px;
    text-align: center;
    margin: 2vw 1vw 2vw 1vw;
    border-radius: 20px;
    background-color: antiquewhite;
}

section#beneficios div.cartoes div.cartao h2 {
    font-size: 18px;
}

section#beneficios div.cartoes div.cartao p {
    font-size: 14px;
}