* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Krona One"; /* , sans-serif */
    /* 
    font-weight: 400;
    font-style: normal;
    */
}

/*CSS reset*/
/*-----------------------------------------
            formatação geral      
    --------------------------------------*/
h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

    /* HEADER */
/* Tamanho e formatação do header */
header {
    overflow: hidden;
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Div para escurecer imagem */
header .escurecerImagemHeader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Div dos h no header */
header .divHeader {
    text-align: center;
    margin-bottom: 10vw;
}
/* H12 */
header h1 {
    font-family: 'Krona One';
    font-size: 6rem;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
header h2 {
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Desenho */
header .divHeader .pequenosDetalhes {
    justify-content: center;
    margin: 0.5vw 1vw;
    display: flex;
    align-items: center;
}
header .divHeader .pequenosDetalhes .bolinha {
    width: 10px;
    height: 10px;
    margin: 3px;
    background: white;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
header .divHeader .pequenosDetalhes .linhazinha {
    width: 300px;
    height: 5px;
    margin: 3px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

    /* MAIN */ 
main {
    padding: 3vw 5%;
    background: #727272;
}
main h2 {
    padding-bottom: 2vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
main h3 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
/* paragrafo */ 
p {
    font-size: 1.35rem;
    line-height: 1.4em;
    color: white;
    /* word-spacing: ; */ /* entre palavras */
    /* letter-spacing: ; */ /* entre letras */
}
p strong {
    color: black;
}
/* sections */
section {
    margin: 0 10%;
    padding: 2vw;
    border-bottom: 3px solid #D9D9D9;    
}
section:last-child {
    border-bottom: none;
}










/*-----------------------------------------
            formatação do topo          
    ---------------------------------------*/
#nav {
    /* Posicionando o NAV */
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#nav ul {
    /* Ajustando a UL */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .navegador {
    position: relative;
    padding: 10px 0 10px 0;
    background: rgba(0, 0, 0, 0.5);
}

#nav a {
    /* Padronizando as A */
    color: black;
    text-decoration: none;
}

#nav ul .botaoRedondo,
nav ul .tituloDoNav {
    /* Padronizando os espaçamentos */
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

#nav ul .botaoRedondo {
    /* Arrumando os botões */
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

#nav ul .tituloDoNav {
    color: white;
    font-size: 1.2em;
}

#nav ul details summary {
    /* Corrigindo o DETAILS */
    position: relative;
    float: none;
    z-index: 10;
}

#nav ul details ul {
    /* Arrumando a UL da DETAILS */
    position: absolute;
    flex-direction: column;
    margin: -16px 10px 0 10px;
    width: 113.33px;
    padding: 11px 0 10px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 30px 30px;
    text-align: center;
    z-index: 5;

}

#nav ul details ul li {
    /* Adicionando espaçamento na LI da DETAILS */
    padding: 3px 0 3px 0;
    opacity: 0.8;
}

/*-----------------------------------------
            formatação do corpo         
    --------------------------------------*/
.indexPagina header {
    /* Recomendo usar essas configurações no resto das páginas */
    background-image: url(src/banner/banner.rebecaandrade.jpeg);
    
}
/*-----------------------------------------
            formatação basket      
    --------------------------------------*/

    body.basquete header  {
        width: 100%;
        background-image: url(src/banner/banner.basquete.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 49vw;
        display: flex;
        align-items: end;

    }
    body.basquete header h1 {
       color: white;
       margin: 0 0 8vw 2vw ;
       font-size: 4rem;
       text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9) ;

    }
    body.basquete header img {
        margin: 0vw 28vw 7vw 3vw ;
        display: flex;
        align-items: end;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

/*-----------------------------------------
            formatação do rodapé       
    --------------------------------------*/
