* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

/*CSS reset*/
/*-----------------------------------------
            formatação geral      
    --------------------------------------*/
.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

header h1.titulo {
    font-family: 'Krona One';
    font-size: 4rem;
    color: white;
}

html h2 {
    font-size: 3rem;
}

html h3 {
    font-size: 2.5rem;
}

html p {
    font-size: 2rem;
}

.branco {
    font-family: 'Krona One';
    color: white;
}

body {
    font-family: 'Krona One';
    font-size: 1rem;
    background-color: #727272;
}

p {
    color: white;
}

p strong {
    color: black;
}

section#inicio {
    padding: 3vw 15vw 0 15vw;
}

section#inicio h2 {
    margin: 0 15vw 1vw 15vw;
}

section#inicio h3 {
    margin: 0 0 3vw 0;
}

section#inicio p {
    padding: 1vw 0 1vw 0;
}

section#inicio #alinhamento {
    padding: 1vw 0 2vw 0;
}

#emparelhamentoimg {
    width: 80%;
    margin: 0 auto;
}


#imgemp {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

#imgemp img {
    width: 500px;
    /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 30px;
    /* Espaçamento entre a imagem e o texto */

}

#empimg p {
    margin: 0;
}

section#esportes #quadroimages {
    padding: 5vw 13vw 15vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 1400px;
    height: 600px;
}

section#esportes p {
    padding: 3vw 15vw 0 15vw;
}

section#esportes h2 {
    padding: 3vw 35vw 0 35vw;
    font-size: 5rem;
}

section#esportes #quadroimages img {
    width: 100%;
    /* Imagem ocupa 100% da largura da célula */
    height: 100%;
    /* Imagem ocupa 100% da altura da célula */
    object-fit: cover;
    /* Mantém a proporção da imagem e cobre a célula */
    border-radius: 15px;
    display: block;
    /* Remove o espaço abaixo da imagem */
}

section#inicio #backgroundescuro {
    margin: 3vw 0 0 0;
    padding: 20px;
    background-color: #5B5A5A;
    border-radius: 1vw;
}





/*-----------------------------------------
            formatação do topo          
    ---------------------------------------*/
#nav {
    /* Posicionando o NAV */
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#nav ul {
    /* Ajustando a UL */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .navegador {
    position: relative;
    padding: 10px 0 10px 0;
    background: rgba(0, 0, 0, 0.5);
}

#nav a {
    /* Padronizando as A */
    color: black;
    text-decoration: none;
}

#nav ul .botaoRedondo,
nav ul .tituloDoNav {
    /* Padronizando os espaçamentos */
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

#nav ul .botaoRedondo {
    /* Arrumando os botões */
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

#nav ul .tituloDoNav {
    color: white;
    font-size: 1.2em;
}

#nav ul details summary {
    /* Corrigindo o DETAILS */
    position: relative;
    float: none;
    z-index: 10;
}

#nav ul details ul {
    /* Arrumando a UL da DETAILS */
    position: absolute;
    flex-direction: column;
    margin: -16px 10px 0 10px;
    width: 113.33px;
    padding: 11px 0 10px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 30px 30px;
    text-align: center;
    z-index: 5;

}

#nav ul details ul li {
    /* Adicionando espaçamento na LI da DETAILS */
    padding: 3px 0 3px 0;
    opacity: 0.8;
}

/*-----------------------------------------
            formatação do corpo         
    --------------------------------------*/
.indexFoto {
    /* Recomendo usar essas configurações no resto das páginas */
    background-image: url(src/banner/banner.rebecaandrade.jpeg);
    width: 100%;
    height: 49vw;
    padding-top: 1vw;
    margin: 0 0 2vw 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.indexFoto h1, .indexFoto h2 {
    margin-left: 2vw;
}
.indexFoto h2 {
    margin-bottom: 3vw;
}
/*-----------------------------------------
            formatação basket      
    --------------------------------------*/

    body.basquete header  {
        width: 100%;
        background-image: url(src/banner/banner.basquete.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 49vw;
        display: flex;
        align-items: end;

    }
    body.basquete header h1 {
       color: white;
       margin: 0 0 8vw 2vw ;
       font-size: 4rem;
       text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9) ;

    }
    body.basquete header img {
        margin: 0vw 28vw 7vw 3vw ;
        display: flex;
        align-items: end;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }
/*-----------------------------------------
            formatação do rodapé       
    --------------------------------------*/
