* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Krona One"; /* , sans-serif */
    /* 
    font-weight: 400;
    font-style: normal;
    */
}

/*CSS reset*/
/*-----------------------------------------
            formatação geral      
    --------------------------------------*/
body {
    background: #727272;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

    /* HEADER */
/* Tamanho e formatação do header */
header {
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Div para escurecer imagem */
header .escurecerImagemHeader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: end;
}
/* Div dos h no header */
header .divHeader {
    text-align: center;
    margin-bottom: 10vw;
}
/* H12 */
header h1 {
    font-family: 'Krona One';
    font-size: 6rem;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
header h2 {
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Desenho */
header .divHeader .pequenosDetalhes {
    justify-content: center;
    margin: 0.5vw 1vw;
    display: flex;
    align-items: center;
}
header .divHeader .pequenosDetalhes .bolinha {
    width: 10px;
    height: 10px;
    margin: 3px;
    background: white;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
header .divHeader .pequenosDetalhes .linhazinha {
    width: 300px;
    height: 5px;
    margin: 3px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

    /* MAIN */ 
main h2 {
    padding-bottom: 2vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
main h3 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 2vw;
}
/* paragrafo */ 
p {
    font-size: 1.35rem;
    line-height: 1.4em;
    color: white;
    padding: 1vw 0;
}
p strong {
    color: black;
}
/* sections */
section {
    padding: 2vw 5%; 
}
/* Border das setions */
.linhaBorder {
    width: 90%;
    margin: 0 5%;
    border: 2px solid #D9D9D9;
}
/* FOOTER */ 
footer {
    background: #5B5A5A;
    padding: 2.5vw 0;
}
footer p {
    font-size: 1rem;
    text-align: center;
    color: black;
    padding: 0;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    font-size: 0.8rem;
    margin: 3px 7px;
    padding: 2px 3px;
    border-bottom: 2px solid;
}
/*-----------------------------------------
            formatação do menu          
    ---------------------------------------*/
nav.navegador {
    /* Posicionando o NAV */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

nav.navegador ul {
    /* Ajustando a UL */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navegador .ulGrande {
    position: relative;
    padding: 10px 0 10px 0;
}

nav.navegador a {
    /* Padronizando as A */
    color: black;
    text-decoration: none;
}

nav.navegador ul .botaoRedondo,
nav.navegador ul .tituloDoNav {
    /* Padronizando os espaçamentos */
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

nav.navegador ul .botaoRedondo {
    /* Arrumando os botões */
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

nav.navegador ul .tituloDoNav {
    color: white;
    font-size: 1.2em;
}

nav.navegador ul details summary {
    /* Corrigindo o DETAILS */
    position: relative;
    float: none;
    z-index: 10;
}

nav.navegador ul details ul {
    /* Arrumando a UL da DETAILS */
    position: absolute;
    flex-direction: column;
    margin: -16px 10px 0 10px;
    width: 113.33px;
    padding: 11px 0 10px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 30px 30px;
    text-align: center;
    z-index: 5;

}

nav.navegador ul details ul li {
    /* Adicionando espaçamento na LI da DETAILS */
    padding: 3px 0 3px 0;
    opacity: 0.8;
}
/*-----------------------------------------
            formatação do introdução  
    --------------------------------------*/
section.introducao {
    margin: 2vw 5%; 
    padding: 0 2vw 2vw 2vw;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
}
.conteudos .conteudo {
    visibility: hidden;
    position: absolute;
}
.conteudos .conteudo.visivel {
    visibility: visible;
    position: static;
}
    
/*-----------------------------------------
            formatação do subMenu    
    --------------------------------------*/
.subMenu {
    width: 90%;
    padding: 5px 5%;
}
.subMenu a {
    font-size: 0.85rem;
    text-decoration: none;
    color: black;
}
.subMenu ul {
    display: flex;
    align-items: end;
    justify-content: center;
}
.subMenu ul li {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: 
    background 0.3s,
    margin 0.3s,
    box-shadow 0.3s
    ;
}
.subMenu ul li:hover {
    background: rgba(255, 255, 255, 0.45);
    margin: 0 10px 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.subMenu li:active {
    opacity: 0.5;
}
.subMenu li.focado {
    background: rgba(255, 255, 255, 0.7);
    margin: 0 10px 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
/*-----------------------------------------
            formatação do index    
    --------------------------------------*/
.index header {
    transition: background linear 0.25s;
}
.index header.um {
    /* Recomendo usar essas configurações no resto das páginas */
    background-image:  url(src/banner/banner.rebecaandrade.jpeg);
}
.index header.dois {
    background-image:  url(src/banner/banner.basquete.jpg);
}
.index header.tres {
    background-image:  url(src/banner/banner.futebol.jpg);
}
.index header.quatro {
    background-image:  url(src/banner/banner.seleçãofeminina.jpeg);
}
.index .boasVindas {
    margin: 0 15%;
}
.index .divFlex {
    margin: 3vw 10%;
    display: flex;
    justify-content: space-between;
}
.index .divFlex p {
    width: 70%;
}
.index .divFlex img {
    width: 250px;
    height: 250px;
    background: #D9D9D9;
    border-radius: 10px;
}
.index .divDark {
    margin: 0 5%;
    background: #5B5A5A;
    padding: 3vw 2vw;
    border-radius: 10px;
}
.index .esportes {
    margin: 0 10%;
}
.index .quadroImages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    margin: 2vw 0;
}
.index .quadroImages img {
    width: 40%;
} 
.index .quadroImages img:hover {
    width: 30vw;
    height: 20vw;
    transition: 400ms linear;
}

/*-----------------------------------------
            formatação sobreNos     
    --------------------------------------*/
    
    section#sobreNos {
        padding: 3vw 15vw 0 15vw;
    }
    
    section#sobreNos h2 {
        font-size: 4.3rem;
        margin: 2vw 0 0 0;
    }
    
    section#sobreNos h3{
        margin: 1vw 0 2vw 0;
    }
    
    section#sobreNos p {
        margin: 2vw 0 3vw;
    }
    
    section#sobreNos #equipe{
        list-style-type: disc;
        color: white;
        margin: 0 1.4vw 0 1.4vw;
        font-size: 1.5rem;
    }
    
    section#obs {
        padding: 3vw 15vw 0 15vw;
        background-color: #5B5A5A;
    }
    
    section#obs h3 {
        margin: 0 0 2vw 0
    }
    
/*-----------------------------------------
            formatação basket      
    --------------------------------------*/

.basquete header  {
    background-image: url(src/banner/banner.basquete.jpg);
}
/*-----------------------------------------
            formatação volei      
    --------------------------------------*/
.volei header  {
    background-image: url(src/volei/páginaVolei.jpg);
}
/*-----------------------------------------
            formatação sobreNos      
    --------------------------------------*/
.sobreNos header {
    height: 16vw;
}
.sobreNos header .divHeader {
    margin-bottom: 2vw;
}